.TPOPI {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  /* color: white; */
}

.companySelect,
.branchSelect {
  width: 30%;
  display: inline-block;
  color: black;
  /* background-color: #327ac2; */
}

.TPOPlacementInsightsRespo {
  height: 100vh;
}

@media only screen and (max-width: 700px) {
  .TPOPlacementInsightsRespo {
    height: auto;
  }

  .TPOPI {
    width: 100%;
    margin: 0;
  }

  .TPOPI * {
    display: block;
    margin: auto;
  }

  .TPOPI #interviewExp {
    display: block;
    margin: auto;
    display: none;
  }
}
