.first {
  width: 40%;
  float: left;
  padding: 20px;
  /* padding-bottom: 10px; */
  /* border: 2px solid red; */
  border-style: inset;
  border-color: white;
  margin-bottom: 10px;
}
.second {
  width: 40%;
  float: left;
  padding: 20px;
  /* border: 2px solid red; */
  border-style: inset;
  border-color: white;
}
.contactMe {
  width: 50%;
  float: right;
  padding: 30px;
  /* border: 2px solid red; */
  border-style: inset;
  border-color: white;
  padding-bottom: 20px;
}
.content {
  /* border: 3px solid black; */
  padding: 20px;
}

.selectRoom {
  color: yellow;
  width: 150px;
  display: inline-block;
}

.ContactUsRespo {
  height: 100vh;
}

@media only screen and (max-width: 700px) {
  .first,
  .second,
  .contactMe {
    float: none;
    width: 80%;
  }

  .content {
    width: 100%;
    text-align: center;
  }

  .ContactUsRespo {
    height: auto;
  }
}
